

.App{
  min-height: 122.5vh;
  background: rgb(37,8,107);
  background: linear-gradient(90deg, rgba(37,8,107,1) 0%, rgba(77,1,163,1) 25%, rgba(82,6,143,1) 50%, rgba(41,9,121,1) 75%, rgba(0,0,0,1) 100%);
}

.image-container {
  position: relative;
  width: 100%; /* Ajustează dimensiunea containerului după preferință */
  background:transparent;
}

.image-container img {
  position: absolute;
  width: 100%; /* Ajustează dimensiunea fiecărei imagini */
  height: auto;
  background: transparent;
}




